section.login.container,
section.password.container {
  max-width: 500px;
  margin-top: 100px;
}

section.password.container .header {
  margin-bottom: 32px;
}

section.login.container .fields,
section.password.container .fields {
  margin-bottom: 32px;
}

section.password.container .fields .item div:first-child {
  text-transform: initial;
  font-size: 1.1rem;
}

section.login.container .footer ul {
  display: flex;
  justify-content: space-evenly;
}

section.login.container .footer ul li a {
  color: #777;
  transition: color 200ms;
}

section.login.container .footer ul li a:hover {
  color: var(--bright-pink);
  text-decoration: underline;
}

